.hidden {

    display: none;
    
}
body.dark {
    background-color: #333333;
    color: white;
}
header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px solid greenyellow;
}
h1 {
    font-size: 45pt;
}

#set-up {
    display: flex;
    justify-content: center;
}
#set-up >*{
    margin-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;

}
button {
    justify-content: center;
}
p#timer, p#lives{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#game {
    display: flex;
    justify-content: center;
}
#number-container > p {
    border: 1px solid black;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40pt;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
#board {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}
.tile {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40px;

}
p.selected {
    background-color: lightblue;
}
p.incorrect {
    color: red;
}
.rightBorder {
    border-right: 4px solid black;
}
.bottomBorder {
    border-bottom: 4px solid black;
}

footer {
    background-color: rgb(15, 119, 119);
    border-bottom: 2px solid rgb(131, 6, 58);
    border-top: 2px solid rgb(131, 6, 58);
    border-right: 2px solid rgb(131, 6, 58);
    border-left: 2px solid rgb(131, 6, 58);;
    color: wheat;
    
    height: 100px;
}


#hrr {
    color: brown;
    
}